<div class="imagens-container">
  <div class="grid-container">
    <div >
      <h2>Exemplo 1</h2>
      <img
        src="../../../assets/images/meltdown.jpg"
        alt="Imagem 1"
        (click)="redirectToMeltdown()"
        class="imagemM"
      />
    </div>
    <div >
      <h2>Exemplo 1</h2>
      <img
        src="../../../assets/images/spectre.jpg"
        alt="Imagem 2"
        (click)="redirectToSpectre()"
        class="imagemS"
      />
    </div>
    <div >
      <h2>Exemplo 2</h2>
      <img
        src="../../../assets/images/meltdown.jpg"
        alt="Imagem 1"
        (click)="redirectToMeltdown()"
        class="imagemM"
      />
    </div>
    <div >
      <h2>Spectre Exemplo 2</h2>
      <img
        src="../../../assets/images/spectre.jpg"
        alt="Imagem 2"
        (click)="redirectToSpectre2()"
        class="imagemS"
      />
    </div>
    <div >
      <h2>Spectre BTB</h2>
      <img
        src="../../../assets/images/spectre.jpg"
        alt="Imagem 2"
        (click)="redirectToSpectrebtb()"
        class="imagemS"
      />
    </div>
  </div>
</div>
